#canvases {
    position: relative;
    top: 25em;
    left: 15em;
    width: 60%;
}

h3 {
    text-align: center;
}

.tiles {
    border: 0.5px solid darkgrey;
    border-radius: 7px;
    font-family: sans-serif;
    font-size: 14px;
}

.canvas {
    border: 0.5px solid orange;
    border-radius: 7px;
}


@media only screen and (max-width: 1034px) {
    #canvases {
      left: 5em;
    }
}